<div class="modal-header">
  <h4 class="modal-title pull-left">任务处理</h4>
  <button type="button" class="close pull-right"
          aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="height: 400px;">
  <tabset [justified]="true">
    <tab heading="任务详情"> Task </tab>
    <tab heading="指定待办人/组">
      <div class="col-md-12" style="margin-top: 5px;">
        <div class="form-group">
          <div class="col-sm-4">
            <select class="form-control m-b"
                    [(ngModel)]="classify"
                    (ngModelChange)="onClassifyChange($event)">
              <option value= 'user' >待办人</option>
              <option value= 'group'>待办组</option>
            </select>
          </div>
          <div class="col-sm-8" *ngIf="classify == 'user'">
            <div class="input-group">
              <ng-template #customItemTemplate
                           let-model="item"
                           let-index="index"
              >
              </ng-template>
              <input [(ngModel)]="userSelectedShow"
                     (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                     (typeaheadOnSelect)="typeaheadOnSelect($event)"
                     [typeahead]="users"
                     typeaheadOptionField="fieldName"
                     [typeaheadOptionsLimit]="8"
                     class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" (click)="addApproval()">确认添加</button>
              </span>
            </div>
          </div>
          <div class="col-sm-8"  *ngIf="classify == 'group'">
            <div class="input-group">
              <ng-template #customItemTemplate
                           let-model="item"
                           let-index="index"
              >
              </ng-template>
              <input [(ngModel)]="groupSelectedShow"
                     (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                     (typeaheadOnSelect)="typeaheadOnSelect($event)"
                     [typeahead]="groups"
                     typeaheadOptionField="fieldName"
                     [typeaheadOptionsLimit]="8"
                     class="form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" (click)="addApproval()">确认添加</button>
                </span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" style="padding-top: 5px;">
        <ul class="tag-list" style="padding: 0" >
          <li *ngFor="let item of approvalList;let idx = index">
            {{item.fieldName}}
            <i class="fa fa-trash-o" (click)="removeApproval(item)"></i>
          </li>
        </ul>
      </div>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">关闭</button>
  <button type="button" class="btn btn-primary" *ngIf='todo' (click)="assignTask()" >我来认领</button>
  <button type="button" class="btn btn-success" *ngIf='todo' (click)="completeTask()">我已处理</button>
  <button type="button" class="btn btn-warning" *ngIf='todo' (click)="assignAndCompleteTask()">认领并处理</button>
  <button type="button" class="btn btn-danger"  *ngIf='todo' (click)="finishTask()">终止任务</button>
</div>
