.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav.navbar-right > li > a {
  color: #999c9e;
}

.nav > li > a i {
  margin-right: 6px;
}

.navbar {
  border: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 40px;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}

@media (max-width: 768px) {
  .navbar-header {
    display: inline;
    float: left;
  }
}

